@tailwind base;
@tailwind components;
@tailwind utilities;
.no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 !important;
}

.mobile-view {
  @apply hidden lg:visible lg:flex;
}

.desktop-view {
  @apply visible flex lg:hidden;
}

.caveat-text {
  font-family: "Caveat";
}

.primary-gradient {
  background: linear-gradient(90deg, #a6bfd3 0%, #f5f7fa 100%) !important;
}

.dark-primary-gradient {
  background: linear-gradient(90deg, #141414 90%, #1c1c1c 100%) !important;
}

.footer-gradient {
  background: linear-gradient(90deg, #141414 10%, #030303 50%);
}

.footer-gradient {
  background: linear-gradient(90deg, #eaeff4 0%, #cfdce8 80%);
}

.placeholder {
  @apply placeholder:text-light-500 dark:placeholder:text-light-400 text-lg;
}

.bg-dark100_light800 {
  @apply bg-dark-800 dark:bg-light-100 !important;
}

.text-dark100_light800 {
  @apply text-dark-800 dark:text-light-100 !important;
}

.text-dark200_light700 {
  @apply text-dark-700 dark:text-light-200 !important;
}

.text-dark300_light600 {
  @apply text-dark-600 dark:text-light-300 !important;
}

.text-dark400_light500 {
  @apply text-dark-500 dark:text-light-400 !important;
}

.text-dark500_light400 {
  @apply text-dark-400 dark:text-light-500 !important;
}

.text-dark600_light300 {
  @apply text-dark-300 dark:text-light-600 !important;
}

.text-dark700_light200 {
  @apply text-dark-200 dark:text-light-700 !important;
}

.text-dark800_light100 {
  @apply text-dark-100 dark:text-light-800 !important;
}

.button-primary {
  @apply px-12 py-6 text-xl min-h-16 rounded-lg bg-light-50 dark:bg-dark-800 text-dark-800 dark:text-light-200 hover:bg-primary-200  hover:dark:bg-dark-500 !important;
}
